*.42?
*.4pwdb
*.4pwvs
*.4pwcfg
*.4pdb
*.gar
*.xa
*_lst.txt
*.html
!webcomponents/wc_c3chart/wc_c3chart.html
fgldoc.css
#index*.html
#overview*.html
#allclasses*.html
#hr/*.html
#hr/*.xa
#model/*.html
#modules/*/*.html
#webcomponents/api/*.html
#webcomponents/api/modules/*.html
tmp/
_OLD/
_SAVED/
